<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - PGTRTKD3000DGOTY</title>
</head>
<body>
    <!-- Title shown at the top of the page, include a link to register. -->
    <div id="header">
        <h1><a href="/">PGTRTKD3000DGOTY</a></h1>
        <div id="link">
            <a href="/login">Login / Register</a>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        PGTRTKD3000DGOTY
        <a href="https://github.com/Chris-Johnston/PGTRTKD3000DGOTY">GitHub</a>
    </div>
</body>
</html>
