@page
@using PetGame.Pages
@using PetGame
@model AddPetModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Add a Pet";
}
@if (Model.CurrentUser != null)
{
    <h1 class="display-2 text-center">Add a Pet</h1>
    <img class="add-pet-icon" src="/api/image/@Model.RandomImageId" alt="Unknown Pet Icon." />
    <form method="post" action="/api/User/Pet">
        <div class="form-group">
            <label for="petname">Name your new pet:</label>
            <br />
            <input id="petname" name="PetName" class="form-control form-control-lg" type="text" placeholder="Fluffy" maxlength="50"
                   pattern="^(['$@@._/-?!0-9a-zA-Z])(['$@@._/-?!0-9a-zA-Z ]){0,48}['$@@._/-?!0-9a-zA-Z]$"
                   title="Please ensure that your name includes only the allowed characters"
                   required />
            <small class="form-text text-muted">Names must be 2-50 characters, including letters, numbers, spaces, and <kbd>'$.@@_/-?!</kbd>.</small>
        </div>
        <!-- hidden value will be included in the request -->
        <input id="image-id" name="PetImageId" type="hidden" value="@Model.RandomImageId" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- https://getbootstrap.com/docs/4.0/components/forms/#validation -->
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
}
else
{
    <h1 class="text-danger">Uh-oh!</h1>
    <p class="text-danger">It looks like you aren't signed in. <a href="login">Please sign-in first.</a></p>
}