@page
@using PetGame.Pages
@model AddPetModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Add a Pet";
}

@if (Model.CurrentUser != null)
{
    <h1 class="display-2 text-center">Add a Pet</h1>
    <img class="add-pet-icon" src="~/img/pets/mysterypet.png" alt="Unknown Pet Icon." />
    <form method="post">
        <div class="form-group">
            <label for="petname">Name your new pet:</label>
            <br />
            <input id="petname" class="form-control form-control-lg" type="text" placeholder="Fluffy" />
            <small class="form-text text-muted">Names must be 2-50 characters, including letters, numbers, spaces, and <kbd>\'$.@@_/-?!</kbd>.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <h1 class="text-danger">Uh-oh!</h1>
    <p class="text-danger">It looks like you aren't signed in. <a href="login">Please sign-in first.</a></p>
}