@page
@using PetGame.Pages
@using PetGame
@model AddPetModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Add a Pet";
}

@if (Model.CurrentUser != null)
{
    <h1 class="display-2 text-center">Add a Pet</h1>
    <img class="add-pet-icon" src="/api/image/@Model.RandomImageId" alt="Unknown Pet Icon." />
    <form method="post" action="/api/User/Pet">
        <div class="form-group">
            <label for="petname">Name your new pet:</label>
            <br />
            <input id="petname" name="PetName" class="form-control form-control-lg" type="text" placeholder="Fluffy" maxlength="50"/>
            <small class="form-text text-muted">Names must be 2-50 characters, including letters, numbers, spaces, and <kbd>\'$.@@_/-?!</kbd>.</small>
        </div>
        <!-- hidden value will be included in the request -->
        <input id="image-id" name="PetImageId" type="hidden" value="@Model.RandomImageId" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <h1 class="text-danger">Uh-oh!</h1>
    <p class="text-danger">It looks like you aren't signed in. <a href="login">Please sign-in first.</a></p>
}