@page
@using PetGame.Pages
@model IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@if (Model.CurrentUser != null)
{
    <h1>Hello @Model.CurrentUser.Username (@Model.CurrentUser.UserId)</h1>

    <div class="pets-container">
        <!-- https://stackoverflow.com/a/4337706 -->
        @foreach (var x in Model.SamplePets.Select((value, index) => new { value, index }))
        {
            <a class="div-link pet-box pet-@x.index" href="/pet/@x.value.PetId">
                <div class="pet-name">@x.value.Name</div>
                <img src="~/img/pets/default.jpg" alt="Picture of @x.value.Name" />
                <div class="pet-label">Status:</div>
                <div class="pet-label hunger">
                    50%
                </div>
                <div class="pet-label happy">
                    75%
                </div>
            </a>
        }
        @if (Model.SamplePets.Count < 3)
        {
            <a class="div-link pet-box new-pet pet-@Model.SamplePets.Count" href="/newpet">
                <div class="pet-name">New Pet</div>
                <img src="~/img/pets/default.jpg" alt="Add a new pet." />
            </a>
        }
    </div>
}
else
{
    <h1><a href="login">Please Sign In</a></h1>
}
<h2>
    Debug Links:
</h2>
<ul>
    <li>
        <a href="/api/pet/1">API Example #1</a>
    </li>
    <li>
        <a href="/api/pet">API Example #2</a>
    </li>
    <li>
        <a href="login">Login Page</a>
    </li>
    <li>
        <a href="PetTester">[debug] Pet API Tester</a>
    </li>
</ul>
