@page
@using PetGame.Pages
@model IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@if (Model.CurrentUser != null)
{
    <h1>Hello @Model.CurrentUser.Username</h1>
    <div class="pets-container">
        <div class="pet-box pet-1">
            <div class="pet-name">Your Pet</div>
            <img src="~/img/pets/default.jpg" alt="TODO: include the pet name in alt text." />
            <div class="pet-label">Status:</div>
            <div class="pet-label hunger">
                50%
            </div>
            <div class="pet-label happy">
                75%
            </div>
            <div class="pet-label strength">
                50
            </div>
            <div class="pet-label endurance">
                75
            </div>
            <div class="button pet-button pet-feed">
                Feed
            </div>
            <div class="button pet-button pet-train">
                Train
            </div>
            <div class="button pet-button pet-race">
                Race
            </div>
        </div>

        <div class="pet-box pet-2">
            <div class="pet-name">Your Pet</div>
            <img src="~/img/pets/default.jpg" alt="TODO: include the pet name in alt text." />
            <div class="pet-label">Status:</div>
            <div class="pet-label hunger">
                50%
            </div>
            <div class="pet-label happy">
                75%
            </div>
            <div class="pet-label strength">
                50
            </div>
            <div class="pet-label endurance">
                75
            </div>
            <div class="button pet-button pet-feed">
                Feed
            </div>
            <div class="button pet-button pet-train">
                Train
            </div>
            <div class="button pet-button pet-race">
                Race
            </div>
        </div>

        <div class="pet-box pet-3">
            <div class="pet-name">Your Pet</div>
            <img src="~/img/pets/default.jpg" alt="TODO: include the pet name in alt text." />
            <div class="pet-label">Status:</div>
            <div class="pet-label hunger">
                50%
            </div>
            <div class="pet-label happy">
                75%
            </div>
            <div class="pet-label strength">
                50
            </div>
            <div class="pet-label endurance">
                75
            </div>
            <div class="button pet-button pet-feed">
                Feed
            </div>
            <div class="button pet-button pet-train">
                Train
            </div>
            <div class="button pet-button pet-race">
                Race
            </div>
        </div>
    </div>
}
else
{
    <h1><a href="login">Please Sign In</a></h1>
}
<h2>
    Debug Links:
</h2>
<ul>
    <li>
        <a href="/api/pet/1">API Example #1</a>
    </li>
    <li>
        <a href="/api/pet">API Example #2</a>
    </li>
    <li>
        <a href="login">Login Page</a>
    </li>
    <li>
        <a href="PetTester">[debug] Pet API Tester</a>
    </li>
</ul>
