@page
@using PetGame.Pages
@model IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<h1>
    Pet GTR Turbo Kart Drift 3000 Deluxe Game of the Year Edition!!!
</h1>

<h2>
    Debug Links:
</h2>

<ul>
    <li>
        <a href="/api/pet/1">API Example #1</a>
    </li>
    <li>
        <a href="/api/pet">API Example #2</a>
    </li>
    <li>
        <a href="login">Login Page</a>
    </li>
    <li>
        <a href="/api/leaderboard">[debug] Leaderboard</a>
    </li>
    <li>
        <a href="PetTester">[debug] Pet API Tester</a>
    </li>
</ul>