@page "/pet/{id}/race"
@using PetGame.Pages
@model RaceModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Race";
}

<script type="text/javascript">
    const petid = @Model.CurrentPet.PetId;
    const petimageid = @Model.CurrentPet.PetImageId;
    const endurance = @Model.CurrentPet.Endurance;
    const strength = @Model.CurrentPet.Strength;
</script>

<h1>
    Race Page
</h1>
<h2>
    Spam the Race button to race!
</h2>

<canvas id="race-canvas" width="600" height="200">

</canvas>
    

<div>
    <button class="button" id="race-button">Race</button>
</div>

<script src="~/scripts/race.js" type="text/javascript"></script>
